#============= qti_init_shell ==============
allow qti_init_shell diag_device:chr_file { open read write };
allow qti_init_shell hci_attach_exec:file execute_no_trans;
allow qti_init_shell hci_attach_exec:file { getattr execute open read };
allow qti_init_shell qmuxd:unix_stream_socket connectto;
allow qti_init_shell qmuxd_socket:dir { add_name write search };
allow qti_init_shell qmuxd_socket:sock_file { create write };
allow qti_init_shell toolbox_exec:file { getattr execute open read execute_no_trans };
